body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  width: 100%;
  color: #2d2f38;
  min-height:100vh;
  display: flex;
  flex-direction: column;
}
header {
	font-family: 'mongolian-baiti-regular', serif;
}
.page-section {
  position: relative;
  display: block;
  max-width: 1519px;
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
}
#layout1 {
    background-image: url(../assets/layout.jpg);
}
.center-position{
	padding-top: 250px;
	text-align: center;
	justify-content: center;
	margin: auto;
}
#displayNumber {
  width: 200px;
  height: 85px;
  text-align: center;
  margin: 0 auto;
  background-color: #e67d00;
  padding: 15px 0;
  border-radius: 10px;
}
h1{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.btn-group button {
  background-color: #e67d00;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
@media screen and (max-width: 800px){
    .btn-group{ font-size:1.8vw; }
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: #d55300;
}
#Options {
  float: left;
  width: 34%;
  height: 150px;
  text-align: center;
  visibility:  hidden;
}
#Options2 {
  float: left;
  width: 33%;
  height: 150px;
  text-align: center;
  visibility:  hidden;
}
#Options3 {
  float: left;
  width: 33%;
  height: 150px;
  text-align: center;
  visibility:  hidden;
}
@media screen and (max-width: 800px){
    input::placeholder{ font-size:3vw; }
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text2], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button{
  width: 100%;
  background-color: #e67d00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 800px){
    .submit-button{ font-size:2.2vw; }
}
input[type=submit]:hover {
  background-color: #364e79;
}
.small_break{
	padding-top: 300px;
}
.small_break2{
	padding-top: 250px;
}
@media (max-width: 500px) {
	.small_break2{
		padding-top: 150px;
	}
}
.small_break3{
	padding-top: 200px;
}
.small_break4{
	padding-top: 50px;
}
.obrazek{
	border-radius: 12px;
	max-height: 205px;
	width: auto;
}
.karty {
  background-color: #CF1300;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  text-decoration: none;
}

.karty:hover {
  color: white;
}
.button-right {
  display: none; 
  position: relative;
  padding: 5px;
  margin: 30px auto;
  background: #FFA500;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  transition: all 0.2s linear;
}
.button-right::after {
  content: "";
  position: absolute;
  top: 17px;
  z-index: 11;
  display: block;
  width: 30px;
  height: 30px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  left: 10px;
}
@media (max-width: 500px) {
  .button-right {
    display: block;
  }
}

.dropdown-container {
  position: relative;
  display: inline-block;
}
#ExtraOption {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: none;
}
	
	
	
	
	